
.launch-content {
    width: 100%;
    min-width:100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    zindex: -1000;
}

.launch-content iframe {
    position:absolute;
    top:50px;
    left:0;
    width:100%;
    min-width: 100%;
    height: 100%;
    min-height:100%
}

.gradebook-record-type {
    margin: 0;
    padding: 0;
    width: 60px !important;
}

.results-container,
.results-table-heading {
    width: 80%;
    margin: 1em auto 2em auto;
    padding: 0;
}

.results-table-heading {
    margin: .5em auto;
}

.results-list-table,
.results-learner-table {
    width: 100%;
}

.results-learner-table th,
.results-learner-table td {
    width: 33%;
    max-width: 33%;
    min-width: 33%;
}

.results-list-table th,
.results-list-table td {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
}

.results-table-label {
    width: 500px;
    margin: 1em auto;
    padding: 0;
    text-align: center;
}

.back-button {
    margin: 1em;
    color: #fff !important;
    text-decoration: none !important;
}

.back-button span {
    vertical-align: middle;
}